
 img {
   background-color: hsl(277, 64%, 61%);
   float: right;
   height: 20.62rem;
   width: 25.82rem;
   position: relative;


 }

 body {
   background-color: hsl(233, 47%, 7%);

 }
 h1 {
   padding-left: 50px;
   padding-top: 25px;
   width: 40%;
   color: hsl(0, 0%, 100%);
   font-family: 'Inter', sans-serif;
   font-weight: 400,700;
 }
 h2 {
   padding-left: 50px;
   width: 40%;
   color: hsl(0, 0%, 100%);
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   margin-bottom: 0;

 }
 .h2-p {
   line-height: 0;
 }

  .table {
   display: inline-block;
   font-size: 12px;

 }


 p {
   color:  hsla(0, 0%, 100%, 0.75);
   padding-left: 50px;
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 90%;
   line-height: 2;

 }
 span {
   color: #B063C5;
 }
.container {
  display: inline-block;
  height: 20.62rem;
  width: 51rem;
  background-color: hsl(244, 38%, 16%);
  position:  relative;
  margin: 130px 270px;

}

.color-overlay {
  background-color: hsl(277, 64%, 61%);
  float: right;
  height: 20.62rem;
  width: 25.82rem;
  position: absolute;
  opacity: .6;
  right: 0;
}
